<css src='style.css' />
<js src='jquery-1.6.2.min.js'/>
<js src='cufon-yui.js'/>
<js src='jquery.transform-0.8.0.min.js'/>
<js src='photoshow.js'/>


<div id="pp_gallery" class="pp_gallery">
	<div id="pp_loading" class="pp_loading"></div>
	<div id="pp_next" class="pp_next"></div>
	<div id="pp_prev" class="pp_prev"></div>
	<div id="pp_thumbContainer">
		<model:foreach>
		<div class="album">
			<foreach for='$theModel->child("photos")->childIterator()' item='photo'>
				<div class="content">
					<img src="data/public/album/{=$photo['file']}" alt="data/public/album/{=$photo['file']}"/>
					<span>{=$photo['title']}</span>
				</div>
			</foreach>
			<if '!$theModel->child("photos")->childIterator()->valid()'>
				<div class='content'>
					<img src="/platform/ui/images/viewimg/xshd01.jpg" alt="/platform/ui/images/viewimg/xshd01.jpg"/>
					<span>此相册没有照片</span>
				</div>
			</if>
			<div class="descr">
				{=$theModel['title']}
			</div>
			<if $bManageAccess>
			<div class="pp_manage"><a href="/?c=album.albumManage&aid={=$theModel['aid']}">管理相册</a></div>
			</if>
		</div>
		</model:foreach>
		<div id="pp_back" class="pp_back">返回相册列表</div>
		<if $bManageAccess><div id="pp_new"><a href="/?c=album.addAlbum">建立新相册</a></div></if>
	</div>
</div>
<div class='logined'>
	<if "is_object($aCurrentId=\jc\auth\IdManager::fromSession()->currentId())">
	<p class='reference'>
		<widget ins="oc\ext\coreuser\FaceWidget::mine()"/>
		<foreach for="\jc\auth\IdManager::fromSession()->iterator()" item="aId">
				{= $aId->username() } <a href='?c=album.logout'>退出</a><br/>
		</foreach>
	</p>
    <div class="clear"></div>
	</if>
</div>
<views />
