<div class="albumList">
	<div class='navForAlbumList'>
		<a href="/?c=album.addAlbum">建立新相册</a><br/>
		<a href="/?c=album.addPhoto">上传新照片</a>
		<br/>
		<br/>
	</div>
	<foreach for='$arrAlbums' key='nKey' item='aAlbum'>
		<div class='albumDiv'>
			<div class='albumFace'>
				<a href="?c=album.photoList&aid={=$aAlbum['aid']}"><img src="{=$aAlbum['coverPid']}" alt=''/></a>
			</div>
			<div class='albumInfo'>
				<ul>
					<li><a href="?c=album.photoList&aid={=$aAlbum['aid']}">{=$aAlbum['title']}</a></li>
					<li>{=date("Y-m-d H:i:s",$aAlbum['createTime'])}</li>
					<li>{=$aAlbum['owner.username']}</li>
					<li>{=$aAlbum['bytes']}字节</li>
					<li><a href="?c=album.addAlbum&aid={=$aAlbum['aid']}">管理相册</a></li>
				</ul>
			</div>
		</div>
	</foreach>
	<views />
</div>