<css src='album.css' />
<div class="photoView">
	<msgqueue for="$theController->messageQueue()" />
	
	<div class='navForPhotoView'>
		<a href="?c=album.photoList&aid={=$aPhoto['aid']}" >返回相册</a>
		 | <a href='#' >上一张</a>
		 | <a href='#' >下一张</a>
	</div>
	
	<div class='photoDiv'>
		<div class='photo'>
			<img src="{=$aPhoto['file']}" alt=''/>
		</div>
		<div class='photoInfo'>
			<ul>
				<li>名称:{=$aPhoto['title']}</li>
				<li>上传日期:{=date("Y-m-d",$aPhoto['createTime'])}</li>
				<li>作者:<a href="?c=album.albumList&uid={=$aPhoto['owner.uid']}">{=$aPhoto['owner.username']}</a></li>
				<li>大小:{=$aPhoto['bytes']/1000}K</li>
			</ul>
		</div>
	</div>
	<views />
</div>