<div class="photoManage">
	<div class='navForPhotoManage'>
		<a href="/?c=album.addPhoto&aid={=$theController->nAid}">上传新照片</a>
	</div>
	<msgqueue for="$theController->messageQueue()" />
	<form id="photoManageForm" method='post'>
		<foreach for='$arrPhotos' key='nKey' item='aPhoto'>
			<div class='photoDiv'>
				<div class='photoFace'>
					<a href="?c=album.photoView&pid={=$aPhoto['pid']}"><img src="{=$aPhoto['file']}" alt=''/></a>
				</div>
				<div class='photoInfo'>
					<ul>
						<li><a href="?c=album.photoView&pid={=$aPhoto['pid']}">{=$aPhoto['title']}</a></li>
						<li>{=date("Y-m-d H:i:s",$aPhoto['createTime'])}</li>
						<li>{=$aPhoto['owner.username']}</li>
						<li>{=$aPhoto['bytes']}字节</li>
						<li><a href="?c=album.editPhoto&pid={=$aPhoto['pid']}">编辑照片内容</a></li>
						<li><input id='photoDelete_{=$aPhoto['pid']}' name='photoDelete[]' type='checkbox' value='{=$aPhoto['pid']}'/><label for='photoDelete_{=$aPhoto['pid']}'>删除照片</label></li>
						<li><input id='photoAlbumFace_{=$aPhoto['pid']}' name='photoAlbumFace[]' type='checkbox' value='{=$aPhoto['pid']}'/><label for='photoAlbumFace_{=$aPhoto['pid']}'>设置相册封面</label></li>
					</ul>
				</div>
			</div>
		</foreach>
		<if {=count($arrPhotos) > 0} >
		<input type='submit' value='提交'/>
		</if>
	</form>
</div>