@charset "utf-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
}
ol, ul ,li{
list-style-position:outside;
list-style: none;
}
a:focus {
outline: none;
}
body{
	background:#000 url(../images/bg.jpg) repeat center center;
	font-family:"宋体","Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu !important;
	font-size:12px;
	color: #fff;
	overflow:hidden;
}
.pp_loading{
	display:none;
	position:fixed;
	top:50%;
	left:50%;
	margin:-35px 0px 0px -35px;
	background:#fff url(../icons/loader.gif) no-repeat center center;
	width:70px;
	height:70px;
	z-index:999;
	opacity:0.7;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}
.pp_next, .pp_prev{
	cursor:pointer;
	top:50%;
	margin-top:-16px;
	width:32px;
	height:32px;
	position:fixed;
	text-align:center;
	border:1px solid #111;
	color:#fff;
	-moz-box-shadow:0px 0px 3px #000;
	-webkit-box-shadow:0px 0px 3px #000;
	box-shadow:0px 0px 3px #000;
}
.pp_next{
	right:-40px;
	background:#222 url(../icons/next.png) no-repeat center center;
}
.pp_prev{
	left:-40px;
	background:#222 url(../icons/prev.png) no-repeat center center;
}
#pp_thumbContainer{
	position:fixed;
	bottom:0px;
	left:0px;
	height:65px;
	width:100%;
}
#pp_thumbContainer .album{
	position:absolute;
	width:200px;
	height:65px;
	bottom:-90px;
}
.album .descr,
.pp_back{
	position:absolute;
	bottom:0px;
	left:-16px;
	background:#222;
	text-align:center;
	border:1px solid #111;
	padding:5px;
	cursor:pointer;
	width:169px;
	color:#fff;
	cursor:pointer;
	text-shadow:0px 0px 1px #fff;
	-moz-box-shadow:1px 1px 4px #000;
	-webkit-box-shadow:1px 1px 4px #000;
	box-shadow:1px 1px 4px #000;
}
.pp_back{
	text-transform:uppercase;
	bottom:120px;
	left:-100px;
	width:80px;
}
#pp_thumbContainer .content{
	position:absolute;
	top:0px;
	height:155px;
	cursor:pointer;
}
#pp_thumbContainer img{
	border:5px solid #fff;
	-moz-box-shadow:1px 1px 7px #000;
	-webkit-box-shadow:1px 1px 7px #000;
	box-shadow:1px 1px 7px #000;
	width:120px;
	height:auto;
}
#pp_thumbContainer .content span{
	display:none;
}
.pp_preview{
	position:fixed;
	top:150%;
	left:50%;
}
.pp_preview img{
	position:absolute;
	top:0px;
	left:0px;
	border:10px solid #fff;
	border-bottom:45px solid #fff;
	-moz-box-shadow:1px 1px 7px #000;
	-webkit-box-shadow:1px 1px 7px #000;
	box-shadow:1px 1px 7px #000;
}
.pp_descr{
	height:45px;
	line-height:45px;
	font-size:20px;
	width:100%;
	bottom:0px;
	left:0px;
	position:absolute;
	text-align:center;
	color:#00021c;
}


/****************/
h1{
	font-size:50px;
	margin:50px;
	color:#333;
}
.reference{
	font-family:Arial;
	position:fixed;
	right:10px;
	top:10px;
	font-size:15px;
	text-shadow:0px 0px 1px #fff;
	-moz-box-shadow:1px 1px 4px #000;
	-webkit-box-shadow:1px 1px 4px #000;
	box-shadow:1px 1px 4px #000;
	text-transform:uppercase;
	background:#222;
	text-align:center;
	border:1px solid #111;
	padding:5px;
}

.reference a{
	color:#fff;
	text-transform:uppercase;
	text-decoration:none;
}


#pp_new , .pp_manage{
	position:absolute;
	background:#222;
	text-align:center;
	border:1px solid #111;
	padding:5px;
	cursor:pointer;
	
	text-shadow:0px 0px 1px #fff;
	-moz-box-shadow:1px 1px 4px #000;
	-webkit-box-shadow:1px 1px 4px #000;
	box-shadow:1px 1px 4px #000;
	text-transform:uppercase;

	width:80px;
	height:18px;
}

#pp_new{
	bottom:120px;
	left:0px;
	top:-42px;
}

.pp_manage{
	bottom:120px;
	left:0px;
	top:0px;
	display:none;
}

#pp_new a, .pp_manage a{
	color:#fff;
	text-transform:uppercase;
	text-decoration:none;
}
#pp_new a:hover, .pp_manage a:hover{
	text-transform:uppercase;
	text-decoration:none;
}

/*
 * 登录页面
 */

.login{
	width:363px;
	height:222px;
	padding:3px 10px 5px 10px;
	background:url(../images/login_form_bg.png);
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	position:absolute;
}

#top_block{
	width:300px;
	height:28px;
}

.login form {
	display:block;
	width:260px;
	margin: 0 auto;
	font-family:"宋体";
}

.login form li{
	margin: 20px 0 20px 0;
}
.login form label{
	font-size:14px;
	color:#333;
}
.login .username span , .login .password span{
	padding:6px 0 0 0;
	font-size:14px;
	text-indent: 0.1em;
}

#username , #password{
	width:200px;
	border:0px;
	padding:0px;
	font-size:16px;
	text-indent:0.3em;
	height:26px;
	line-height:26px;
	background:#fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border:#999 1px solid;
}

#username:focus, #password:focus{
	border:#5aab85 1px solid;
}

#login_message{
	margin:5px;
	backgournd:#111;
	color:red;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.album_reg , .album_login{
	width:65px;
	height:25px;
	line-height:25px;
	background:#83bfa3;
	border:1px solid #5aab85;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	color:white;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	display:block;
	float:right;
	margin: 0 5px 0 5px;
}

.login .remember input{
	display:block;
	margin: 3px;
	float:left;
	margin:7px 5px 0 0;
}
.login .remember{
	float:right;
	line-height: 28px;
}

div .block{
	clear:both;
}